<section class="login-section">
  <div class="login-container">
    <div class="login-card">
      <div class="login-card-body">
        <h1 class="login-title">{{ 'SIGN_IN_ACCOUNT' | transloco }}</h1>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="login-form"
        >
          <!-- Email -->
          <div class="form-group">
            <label for="email" class="form-label">
              {{ 'EMAIL_LABEL' | transloco }}
              Email
            </label>
            <input
              type="email"
              formControlName="email"
              id="email"
              [placeholder]="'EMAIL_PLACEHOLDER' | transloco"
              class="form-input"
            />
            @if(Required("email")) {
            <div class="error">{{ 'EMAIL_REQUIRED' | transloco }}</div>
            } @else if(MatchExp("email")) {
            <div class="error">{{ 'EMAIL_INVALID' | transloco }}</div>
            }
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="password" class="form-label">
              {{ 'PASSWORD_LABEL' | transloco }}
            </label>
            <input
              type="password"
              formControlName="password"
              id="password"
              [placeholder]="'PASSWORD_PLACEHOLDER' | transloco"
              class="form-input"
            />
            @if(Required("password")) {
            <div class="error">{{ 'PASSWORD_REQUIRED' | transloco }}</div>
            } @else if(MatchExp("password")) {
            <div class="error">{{ 'PASSWORD_INVALID' | transloco }}</div>
            }
          </div>

          <!-- Remember Me + Forgot -->
          <div class="form-options">
            <div class="remember-me">
              <input
                type="checkbox"
                id="remember"
                formControlName="rememberMe"
                class="checkbox"
              />
              <label for="remember">{{ 'REMEMBER_ME' | transloco }}</label>
            </div>
            <a href="#" class="forgot-password">
              {{ 'FORGOT_PASSWORD' | transloco }}
            </a>
          </div>

          <!-- Submit -->
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="btn-submit"
          >
            {{ 'SIGN_IN' | transloco }}
          </button>

          <!-- Sign up link -->
          <p class="signup-text">
            {{ 'NO_ACCOUNT' | transloco }}
            <a
              class="signup-link"
              (click)="navigateToRegister()"
              >{{ 'SIGN_UP' | transloco }}</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>