@use "mixins";

.container {
  // width: 100%;
  display: flex;

  @include mixins.respond-to(desktop) {
    flex-direction: column;
    gap: 20px;
  }
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  background: #ebf5f4;
  border-radius: 10px;
  width: 300px;
  padding: 1.5rem;
  h4 {
    text-wrap: nowrap;
    margin-bottom: 10px;
  }
  .search {
    width: 100%;
    padding: 7px 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .show-more {
    margin-bottom: 10px;
  }

  @include mixins.respond-to(desktop) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.sub-group-filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.lists-with-checkbox {
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  li {
    padding-bottom: 4px;
  }
}

.range {
  margin: 20px 0px;
}
.salary-range-filter {
  font-weight: 700;
}

.range-slider {
  width: 100%;
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #309689;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #309689;
  background-color: #309689;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #309689;
  background-color: #309689;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 30px 0;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  width: 40px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}

.Jobs {
  width: 100%;
}

.available-jobs {
  width: 100%;
}

.no-job-found {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ff3d00;
  border-bottom-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

.sorting-pagging-div {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  select {
    padding: 5px;
    border-radius: 5px;
  }
}

.margin-top {
  margin-top : 20px;
}


