@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,396;1,396&display=swap");


$primary-color: #007bff;
$secondary-color: #6c757d;
$font-stack: "Figtree", sans-serif;
$base-spacing: 1rem;
$text-color: black;

$button-color: #309689;
$button-color-disabled: #73c4b9;

// dark theme colors
$bg-dark : #000000;
$bg-font-white: #FFFFFF;

$breakpoint-tablet: 768px;