aside {
  width: 250px;
  min-height: 100%;
  background-color: #f8f9fa;
  // padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  // gap: 15px;
}

.sidebar-list li {
  display: flex;
  justify-content: start;
  width: 100%;
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  &:hover {
    color: white;
    font-weight: 500;
    background-color: #309689;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.sidebar-list li.active {
  color: white;
  font-weight: 500;
  background-color: #309689;
}
