<aside>
  <div class="sidebar-content">
    <ul class="sidebar-list">
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/admin/']"
        (click)="sharedService.close()"
      >
        profile
      </li>
      <li routerLinkActive="active">Jobs</li>
      <li routerLinkActive="active"
        [routerLink]="['/admin/add-job/']"
        (click)="sharedService.close()"
      >
        Add Jobs
      </li>
      <li routerLinkActive="active">Settings</li>
    </ul>
  </div>
</aside>
