<div class="background-color">
  <div class="image-class"></div>
  <div class="main-banner">
    <div class="content">
      <h1>Find Your Dream Job Today!</h1>
      <p>Connecting Talent with Opportunity: Your Gateway to Career Success</p>
      <div class="flex-box">
        <input class="search-input" type="text" placeholder="Search for jobs, companies, or locations" />
        <button class="search-button">
          <mat-icon>search</mat-icon>
          <span class="search-icon-term">
            Search Job
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="company-banner"></div>
<div class="available-jobs">
  <div class="Jobs-banner align-start">
    <h1>Recent Jobs Available</h1>
    <p>Find jobs that match your expectations...</p>
  </div>
  <div class="align-end large-font">
    <a>View All</a>
  </div>
</div>
@for (jobs of jobs; track $index) {
<job-loop-list-component class="available-jobs" />
}