@use "variables" as var;

.flex-box {
  display: flex;
  gap: 1rem;
}
.align-start {
  justify-content: start;
  align-items: center;
}
.align-end {
  justify-content: end;
  align-items: center;

}

.banner {
  cursor: pointer;
  width: 240px;
}
.buttons-links {
  width: 240px;
}
.Banner-text {
  text-wrap: nowrap;
  cursor: pointer;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 95%;
}
.navbar-list {
  list-style: none;
  display: flex;
}
.navbar-list li a {
  text-decoration: none;
  color: var.$bg-font-white;
  margin: 0 20px;
  text-wrap: nowrap;
  &:hover {
    color: #309689;
    font-weight: 500;
  }
  &:active {
    color: #309689;
  }
}

.login-button {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


.language-dropdown {
  background-color: transparent;
  border: none;
  color: white;
}

.language-dropdown option {
  color: black;
}