@use "mixins";

.background-color {
  width: 100%;
  height: 25vh;
  background-color: black;
  position: relative;
}

.main-banner {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.main-banner h1 {
  font-size: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content h1 {
  margin-bottom: 30px;
  line-height: 60px;
}
.content p {
  margin-bottom: 30px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.company-banner {
  width: 100%;
  height: 10vh;
  background-color: black;
  position: relative;
  color: #ffffff;
}

.main-container {
  padding: 30px;
}