

@use "mixins";

.bg-white {
  width: 100%;
  display: inline;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #d3d0d0c4;
  border-radius: 2px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  flex-direction: column;
  & h1 {
    font-weight: 600;
    font-size: 1.2rem;
  }
}