<section class="login-section">
  <div class="login-container">
    <div class="login-card">
      <div class="login-card-body">
        <h1 class="login-title">{{ 'REGISER_ACCOUNT' | transloco }}</h1>
        <form
          [formGroup]="RegisterForm"
          (ngSubmit)="onSubmit()"
          class="login-form"
        >
          <!-- Email -->
          <div class="form-group">
            <label for="email" class="form-label">
              {{ 'EMAIL_LABEL' | transloco }}
            </label>
            <input
              type="email"
              formControlName="email"
              id="email"
              [placeholder]="'EMAIL_PLACEHOLDER' | transloco"
              class="form-input"
            />
            @if(required("email")) {
            <div class="error">{{ 'EMAIL_REQUIRED' | transloco }}</div>
            } @else if(matchExp("email")) {
            <div class="error">{{ 'EMAIL_INVALID' | transloco }}</div>
            }
          </div>

          <!-- username -->
          <div class="form-group">
            <label for="userName" class="form-label">
              {{ 'USERNAME_LABEL' | transloco }}
            </label>
            <input
              type="text"
              formControlName="userName"
              id="userName"
              [placeholder]="'USERNAME_PLACEHOLDER' | transloco"
              class="form-input"
            />
            @if(required("userName")) {
            <div class="error">{{ 'USERNAME_REQUIRED' | transloco }}</div>
            }
          </div>

          <div class="phone-group">
            <!-- country code  -->
            <div class="form-group">
              <label for="countryCode" class="form-label">
                {{ 'COUNTRY_CODE_LABEL' | transloco }}
              </label>
              <select
                class="form-input"
                formControlName="countryCode"
                id="countryCode"
              >
                <option value="+1" class="option-colors">+1 (USA)</option>
                <option value="+33">+33 (France)</option>
                <option value="+48">+49 (Germany)</option>
                <option value="+61">+61 (Australia)</option>
                <option selected value="+91">+91 (India)</option>
              </select>
              @if(required("countryCode")) {
              <div class="error">
                {{ 'COUNTRY_CODE_REQUIRED' | transloco }}
              </div>
              }
            </div>

            <!-- phone  -->
            <div class="form-group">
              <label for="phone" class="form-label">
                {{ 'PHONE_LABEL' | transloco }}
              </label>
              <input
                type="text"
                formControlName="phone"
                id="phone"
                [placeholder]="'PHONE_PLACEHOLDER' | transloco"
                class="form-input"
              />
              @if(required("phone")) {
              <div class="error">{{ 'PHONE_REQUIRED' | transloco }}</div>
              } @else if(matchExp("phone")) {
              <div class="error">{{ 'PHONE_INVALID' | transloco }}</div>
              }
            </div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="password" class="form-label">
              {{ 'PASSWORD_LABEL' | transloco }}
            </label>
            <input
              type="password"
              formControlName="password"
              id="password"
              [placeholder]="'PASSWORD_PLACEHOLDER' | transloco"
              class="form-input"
            />
            @if(required("password")) {
            <div class="error">{{ 'PASSWORD_REQUIRED' | transloco }}</div>
            } @else if(matchExp("password")) {
            <div class="error">{{ 'PASSWORD_INVALID' | transloco }}</div>
            }
          </div>

          <!-- confirm password -->
          <div class="form-group">
            <label for="confirmPassword" class="form-label">
              {{ 'CONFIRM_PASSWORD_LABEL' | transloco }}
            </label>
            <input
              type="password"
              formControlName="confirmPassword"
              id="confirmPassword"
              [placeholder]="'PASSWORD_PLACEHOLDER' | transloco"
              class="form-input"
            />
            @if(required("confirmPassword")) {
            <div class="error">
              {{ 'CONFIRM_PASSWORD_REQUIRED' | transloco }}
            </div>
            } @else if(matching()) {
            <div class="error">{{ 'PASSWORD_NOT_MATCH' | transloco }}</div>
            }
          </div>

          <!-- error generated from backend -->
          @if(errorBackEnd().length > 0) {
          <div class="error">
            {{ errorBackEnd() }}
          </div>
          }

          <!-- Submit -->
          <button
            type="submit"
            [disabled]="RegisterForm.invalid"
            class="btn-submit"
          >
            {{ 'REGISTER' | transloco }}
          </button>

          <!-- Sign up link -->
          <p class="signup-text">
            {{ 'HAVE_ACCOUNT' | transloco }}
            <a class="signup-link" (click)="navigateToLogin()">{{
              'SIGN_IN' | transloco
            }}</a>
          </p>
          <!-- company registration link -->
          <p class="signup-text">
            <!-- {{ 'COMPANY_REGISTER' | transloco }} -->
            Want to become partner?
            <a class="signup-link" [routerLink]="['/company-register']">
              <!-- {{ 'COMPANY_SIGN_UP' | transloco}} -->
              Company Registration
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>