<h1 class="heading">Add New Job</h1>

<form [formGroup]="AddJobForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-group">
    <label for="jobTitle" class="form-label">
      {{ "JOB_TITLE_LABEL" | transloco }}
    </label>
    <input
      type="text"
      formControlName="jobTitle"
      id="jobTitle"
      [placeholder]="'JOB_TITLE_PLACEHOLDER' | transloco"
      class="form-input"
    />

    @if(required("jobTitle")) {
    <div class="error">
      {{ "JOB_TITLE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="JobTypeId" class="form-label">
      {{ "JOB_TYPE_LABEL" | transloco }}
    </label>
    <select
      type="text"
      formControlName="JobTypeId"
      id="JobTypeId"
      class="form-input"
    >
      <option value="">
        {{ "JOB_TYPE_PLACEHOLDER" | transloco }}
      </option>

      @for(role of jobTypeList(); track role.jobTypeId) {
      <option [value]="role.jobTypeId">
        {{ role.jobType1 }}
      </option>
      }
    </select>

    @if(required("JobTypeId")) {
    <div class="error">
      {{ "JOB_TYPE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="companyLocationId" class="form-label">
      {{ "COMPANY_LOCATION_ID_LABEL" | transloco }}
    </label>
    <select
      type="text"
      id="companyLocationId"
      formControlName="companyLocationId"
      class="form-input"
    >
      <option value="">
        {{ "COMPANY_LOCATION_ID_PLACEHOLDER" | transloco }}
      </option>

      @for(location of jobLocationList(); track location.companyLocationId) {
      <option [value]="location.companyLocationId">
        {{ location.address }}, {{ location.city }}, {{ location.state }},
        {{ location.country }}
      </option>
      }
    </select>

    @if(required("companyLocationId")) {
    <div class="error">
      {{ "COMPANY_LOCATION_ID_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="jobCategoryId" class="form-label">
      {{ "JOB_CATEGORY_ID_LABEL" | transloco }}
    </label>
    <select
      type="text"
      id="jobCategoryId"
      formControlName="jobCategoryId"
      class="form-input"
    >
      <option value="">
        {{ "JOB_CATEGORY_ID_PLACEHOLDER" | transloco }}
      </option>

      @for(category of jobCategoryList(); track category.jobCategoryId) {
      <option [value]="category.jobCategoryId">
        {{ category.categoryName }}
      </option>
      }
    </select>

    @if(required("jobCategoryId")) {
    <div class="error">
      {{ "JOB_CATEGORY_ID_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label class="form-label">
      {{ "JOB_DESCRIPTION_LABEL" | transloco }}
    </label>
    <quill-editor formControlName="jobDescription" [styles]="{ 'min-height': '120px' }"></quill-editor>

    @if(required("jobDescription")) {
    <div class="error">
      {{ "JOB_DESCRIPTION_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="JobRoleId" class="form-label">
      {{ "JOB_ROLE_LABEL" | transloco }}
    </label>
    <select
      type="text"
      formControlName="JobRoleId"
      id="JobRoleId"
      class="form-input"
    >
      <option value="">{{ "JOB_ROLE_PLACEHOLDER" | transloco }}</option>
      @for(role of jobRoleList(); track role.jobRoleId) {
      <option [value]="role.jobRoleId">
        {{ role.jobRole1 }}
      </option>
      }
    </select>

    @if(required("JobRoleId")) {
    <div class="error">
      {{ "JOB_ROLE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="experience" class="form-label">
      {{ "EXPERIENCE_LABEL" | transloco }}
    </label>
    <select
      type="text"
      formControlName="experience"
      id="experience"
      class="form-input"
    >
      <option value="">{{ "EXPERIENCE_PLACEHOLDER" | transloco }}</option>
      <option value="1">Fresher</option>
      <option value="2">1+ year</option>
      <option value="3">3+ year</option>
      <option value="4">5+ year</option>
      <option value="5">10+ year</option>
      <option value="6">20+ year</option>
    </select>

    @if(required("experience")) {
    <div class="error">
      {{ "EXPERIENCE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="degreeId" class="form-label">
      {{ "DEGREE_LABEL" | transloco }}
    </label>
    <select
      type="text"
      formControlName="degreeId"
      id="degreeId"
      class="form-input"
    >
      <option value="">{{ "DEGREE_PLACEHOLDER" | transloco }}</option>
      @for(degree of degreeList(); track degree.degreeId) {
      <option [value]="degree.degreeId">
        {{ degree.degree1 }}
      </option>
      }
    </select>

    @if(required("degreeId")) {
    <div class="error">
      {{ "DEGREE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="minSalary" class="form-label">
      {{ "MIN_SALARY_LABEL" | transloco }}
    </label>
    <input
      type="text"
      formControlName="minSalary"
      id="minSalary"
      [placeholder]="'MIN_SALARY_PLACEHOLDER' | transloco"
      class="form-input"
    />

    @if(required("minSalary")) {
    <div class="error">
      {{ "MIN_SALARY_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="maxSalary" class="form-label">
      {{ "MAX_SALARY_LABEL" | transloco }}
    </label>
    <input
      type="text"
      formControlName="maxSalary"
      id="maxSalary"
      [placeholder]="'MAX_SALARY_PLACEHOLDER' | transloco"
      class="form-input"
    />

    @if(required("maxSalary")) {
    <div class="error">
      {{ "MAX_SALARY_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="applicationStartDate" class="form-label">
      {{ "START_DATE_LABEL" | transloco }}
    </label>
    <input
      type="date"
      formControlName="applicationStartDate"
      id="applicationStartDate"
      [placeholder]="'START_DATE_PLACEHOLDER' | transloco"
      class="form-input"
    />

    @if(required("applicationStartDate")) {
    <div class="error">
      {{ "START_DATE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="applicationEndDate" class="form-label">
      {{ "END_DATE_LABEL" | transloco }}
    </label>
    <input
      type="date"
      formControlName="applicationEndDate"
      id="applicationEndDate"
      [placeholder]="'END_DATE_PLACEHOLDER' | transloco"
      class="form-input"
    />

    @if(required("applicationEndDate")) {
    <div class="error">
      {{ "END_DATE_REQUIRED" | transloco }}
    </div>
    }
  </div>

  <!-- Input for adding new tags -->
  <div class="form-group">
    <label class="form-label"> {{ "TAGS_LABEL" | transloco }} </label>
    <input
      class="form-input"
      type="text"
      #tagInput
      placeholder="{{ 'TAGS_LABEL' | transloco }}"
    />
  </div>

  <blue-button
    type="button"
    (click)="addTag(tagInput.value); tagInput.value = ''"
    [data]="addBtn"
  />

  <!-- added tags review  -->
  <div formArrayName="tags" class="form-group-flex">
    @for(tag of tags.controls; track $index; let i=$index) {
    <div>
      <div class="form-group-flex gaps">
        <input [formControlName]="i" class="form-input" />
        <red-button type="button" (click)="removeTag(i)" [data]="removeBtn" />
      </div>
    </div>
    }
  </div>

  <!-- error generated from backend -->
  @if(errorBackEnd().length > 0) {
  <div class="error">
    {{ errorBackEnd() }}
  </div>
  }
  <button type="submit" class="btn-submit">Submit</button>
</form>

<pre>{{ AddJobForm.value | json }}</pre>
