<div class="job-listing">
  <div class="time-bookmark">
    <success-tags [message]="temptime" />
    <span class="material-icons-outlined bookmark"> bookmark_add </span>
  </div>
  <div class="">
    <div>
      <div class="job">
        <img [src]="data?.imageUrl" height="100" width="100" />
        <div class="job-title">
          <h1>{{ data?.jobTitle }}</h1>
          <span> {{ data?.companyName }} </span>
        </div>
      </div>
      <div class="job-description">
        <div class="job-description-content">
          <div class="flex-box">
            <span class="material-icons-outlined"> business_center </span>
            <span> {{ data?.jobCategory }} </span>
          </div>
          <div class="flex-box">
            <span class="material-icons-outlined"> access_time </span>
            <span> {{ data?.jobType }} </span>
          </div>
          <div class="flex-box">
            <span class="material-icons-outlined"> account_balance_wallet</span>
            <span> {{data?.minSalary}}₹ to {{data?.maxSalary}}₹</span>
          </div>
          <div class="flex-box">
            <span class="material-icons-outlined"> location_on </span>
            <span> {{data?.address}} </span>
          </div>
        </div>
        <div class="gree-button">
          <green-button [data]="jobDetails" (click)="handleDetailsClick(data?.jobId ?? 0)" />
        </div>
      </div>
    </div>
  </div>
</div>
