@use "mixins";

.material-icons-outlined {
  font-size: 30px;
  color: #6C757D;
}

.job-listing {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border-bottom: 1px solid #21d4bc25;
}
.bookmark {
  margin-right: 40px;
}
.time-bookmark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}
.job {
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  & img {
    padding: 15px;
    border-radius: 50%;
  }
}

.job-description {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;

  @include mixins.respond-to(tablet) {
    flex-direction: column;
  }
}
.job-description-content {
  display: flex;
  gap: 20px;

  @include mixins.respond-to(tablet) {
    flex-direction: column;
  }
}
.job-description-content .material-icons-outlined {
  color: #309689;
}
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @include mixins.respond-to(tablet) {
    align-items: start;
    justify-content: start;
  }

}

.job-title h1 {
  margin-bottom: 10px;
  @include mixins.respond-to(tablet) {
    line-height: 30px;
  }
}

.gree-button {
  width: 150px;
  @include mixins.respond-to(tablet) {
    margin-top: 20px;
    width: 100%;
  }
}
