<div class="navbar">
  <div class="flex-box align-start banner">
    <div class="custom-dropdown">
      <div class="dropdown-trigger">
        <span class="material-icons-outlined dehaze"> dehaze </span>
        <i class="arrow-icon"></i>
      </div>
      <div class="dropdown-content">
        <ul>
          <li><a (click)="handleUserProfileNavigation()">Profile</a></li>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/jobs']">Job</a></li>
          <li><a [routerLink]="">About Us</a></li>
          <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
          @if(authBtnView()) {
          <li><a (click)="navigateToLogin()">Login</a></li>
          <li><a (click)="navigateToRegister()">Register</a></li>
          } @else if(userName().length > 0) {
          <li><a (click)="handleLogout()">Logout</a></li>
          }
        </ul>
      </div>
    </div>
    <div class="flex-box">
      <mat-icon class="material-icons-outlined" (click)="navigateToMain()">
        class
      </mat-icon>
      <h1 class="Banner-text" (click)="navigateToMain()">Job Portal</h1>
    </div>
    <select class="language-dropdown1" (change)="changeLang($event)">
      <option class="" value="en">English</option>
      <option class="" value="guj">ગુજરાતી</option>
      <option class="" value="de">German</option>
      <option class="" value="fr">French</option>
    </select>
  </div>

  <div class="flex-box navbar-list-content">
    <ul class="navbar-list">
      <li
        routerLinkActive="active"
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a>Home</a>
      </li>
      <li routerLinkActive="active" [routerLink]="['/jobs']">
        <a>Job</a>
      </li>
      <li><a>About Us</a></li>
      <li routerLinkActive="active" [routerLink]="['/contact-us']">
        <a>Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="flex-box buttons-links align-end">
    <select class="language-dropdown" (change)="changeLang($event)">
      <option class="" value="en">English</option>
      <option class="" value="guj">ગુજરાતી</option>
      <option class="" value="de">German</option>
      <option class="" value="fr">French</option>
    </select>
    @if(authBtnView()) {
    <a class="login-button" (click)="navigateToLogin()">Login</a>
    <green-button
      class="register-button"
      (click)="navigateToRegister()"
      [data]="register"
    />
    } @else if(userName().length > 0) {
    <span (click)="handleUserProfileNavigation()">
      {{ userName() }}
    </span>
    <red-button [data]="logOut" (click)="handleLogout()" />
    }
  </div>
</div>
