@import "mixins";
.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @include respond-to(tablet) {
    line-height: 30px;
  }
}
.header-links {
  display: flex;
  gap: 0.5rem;
  @include respond-to(tablet) {
    flex-direction: column;
    align-items: end;
  }
}


.card-data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}