<div class="profile-header">
  <h1 class="login-title">{{ "COMPANY_PROFILE" | transloco }}</h1>
  <span class="header-links">
    <!-- white button for editing company details -->
    <white-with-icon-button
      [data]="editProfile"
      [icon]="editIcon"
      [routerLink]="['/admin/edit-company-profile']"
    />
    <!-- white button for company web site -->
    <white-with-icon-button
      [icon]="linkIcon"
      [data]="linkWebsite"
      (click)="onWebsiteLinkClick()"
    />
  </span>
</div>

<!-- profile view -->
<div class="profile-card">
  <div class="card-image">
    <img class="image" src="/assets/images/logo.webp" alt="" />
  </div>
  <div class="card-data">
    <div class="card-title">
      <h1>{{ companyDetails()?.companyName }}</h1>
      <span> {{ companyDetails()?.companyLocation }} </span>
    </div>
    <div class="card-sub-title">
      <span> {{ companyDetails()?.companyDescription }} </span>
    </div>

    <!-- company profile links to another platoforms -->
    <div>
      <img src="/assets/images/facebook.png" alt="" />
      <img src="/assets/images/facebook.png" alt="" />
      <img src="/assets/images/facebook.png" alt="" />
      <img src="/assets/images/facebook.png" alt="" />
      <img src="/assets/images/facebook.png" alt="" />
    </div>
    <mat-tab-group>
      <mat-tab label="Overview"> </mat-tab>
      <mat-tab label="About"> </mat-tab>
      <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
    </mat-tab-group>
    <!-- future reviews -->
    <div class="reviews"></div>
    <!-- about -->
    <div class="company-about"></div>
  </div>
</div>

<pre>
      {{ companyDetails() | json }}
</pre>
